<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Feature declaration for camera -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".WasteReportingApp"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="EcoCollect"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WasteReporting"
        android:usesCleartextTraffic="true">
        
        <activity
            android:name="com.wastereporting.MainActivity"
            android:exported="true"
            android:label="EcoCollect"
            android:theme="@style/Theme.WasteReporting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
